<div class="solicitar">

    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="col-md-12 col-2 col-sm-1 col-xs-12 col-md-1 col-lg-1">
                <img class="logo" src="../../assets/imagens/logo.png" id="icon" alt="User Icon">
            </div>

            <div class="col-md-10 col-9 col-sm-4 col-xs-12 col-md-6 col-lg-10">
                <div class="navbar-nav justify-content-center">
                    <h1 class="font-weight-bold"></h1>
                </div>
            </div>

            <div class="divIconeSair col-md-12 col-1 col-sm-1 col-xs-12 col-md-1 col-lg-1">
                <button class="btn-logOut" (click) = "redirecionaUsuario()">
                    <img class="iconeLogin" src="../../../assets/imagens/user.png" id="icon" alt="sair">
                </button>
                
            </div>
        </nav>
    </header>
    <div class = "row">
        <div class="col-8 mt-4">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                  <h1 class="card-title">PENSANDO EM ALUGAR UM VEÍCULO?</h1>
                  <h4 class="card-subtitle mb-2 text-muted">Você encontrou o lugar certo. Com apenas alguns cliques, faça sua reserva de forma prática e rápida. Reserve agora e aproveite a facilidade e eficiência que oferecemos.</h4>
                  
                </div>
              </div>
        </div>
        <div class="col-4 mt-5">
            <img src="../../../assets/imagens/alugando.png" style="width: 340px;">
        </div>
        
    </div>
</div>
